{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">P&#229; gjennsyn!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-lg btn-dark" href="#" role="button">Learn more</a>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">P&#229; gjennsyn!</h1>
        <p class="lead">H&#229;per opplevelsen av nettsiden har v&#230;rt topp.
            <br>Ogs&#229; ses vi igjen i bakken!
        </p>
    </div>
</div>
{% endblock content %}