{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <h1>Velkommen til Alpinklubben</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor varius elit, ac egestas nulla gravida eget. Sed eget lectus a risus interdum euismod nec ut erat. Pellentesque metus est, pulvinar eu dignissim at, mattis ac nisl. Nunc diam
        urna, convallis eu volutpat ac, ullamcorper ac libero. Integer pellentesque sit amet augue fringilla eleifend. Quisque non sollicitudin ante. Pellentesque ultricies vestibulum nisi, auctor dapibus ligula vestibulum eget. Curabitur
        pellentesque ipsum sed augue molestie tincidunt. Aliquam vitae augue porta, egestas turpis et, vulputate nibh. Donec dapibus viverra dui, vitae venenatis quam consectetur non. Duis gravida rhoncus ante ac elementum. Sed efficitur egestas
        nunc quis luctus. Vestibulum at vehicula lectus, sed commodo eros. Suspendisse nunc augue, malesuada et mauris convallis, mollis sollicitudin risus. Sed risus felis, tincidunt ac nisl sed, sagittis lacinia massa.

        Cras euismod, tellus eu auctor pellentesque, diam risus pretium arcu, sit amet lobortis ante purus quis nunc. Phasellus ac diam lacinia, dapibus dui ut, consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Fusce elementum turpis ut ullamcorper luctus. Sed quis semper est, non convallis nibh. Nam et ligula posuere, condimentum justo nec, molestie eros. Pellentesque sit amet erat justo. Nam eget tortor id est dictum
        tincidunt sit amet at turpis. Vivamus varius congue libero, et tempus enim congue vitae. Proin odio odio, sodales egestas augue quis, varius lobortis ligula.

        Aliquam quis lectus in odio iaculis efficitur in sit amet ante. Sed gravida est eu lacus congue auctor. Cras hendrerit tortor sed est sagittis, ac auctor lorem efficitur. Nulla egestas, velit non rutrum venenatis, felis enim posuere lorem,
        pulvinar posuere sem neque et mi. Aliquam vel odio eu turpis vestibulum fringilla. Ut placerat pharetra lectus, sit amet tincidunt dui placerat sed. Maecenas eget lacinia eros, sagittis ultricies mauris. Pellentesque sagittis mauris sed
        elementum consectetur. Pellentesque ac massa nec purus aliquam auctor pretium ac enim.

        Phasellus dignissim erat volutpat tellus venenatis, id sagittis urna pulvinar. Etiam in est ut massa mattis luctus a at lectus. Morbi et eleifend felis. Morbi lobortis nisi sit amet sem vestibulum varius. Cras consectetur dolor vitae leo
        blandit, nec luctus elit maximus. Pellentesque ut sapien nec dolor scelerisque euismod. Etiam vitae sem ac felis laoreet maximus non nec augue. Integer quam lectus, rutrum quis egestas bibendum, semper eu enim. Aenean tincidunt aliquam
        felis, sed commodo sapien luctus non. Fusce a eros maximus, hendrerit ante rhoncus, eleifend enim.

    </p>
</div>
{% endblock content %}
{% block sidebar2 %}
<div class="content-section yr-content">
    <!-- &#248; and other unicode characters are some places in the files
    because midway through my project i realized my editor saves files as
    ISO 8859-1 instead of utf-8-->
    <script src="https://www.yr.no/place/Norway/Tr&#248;ndelag/Trondheim/Trondheim/external_box_small.js"></script><noscript><a href="https://www.yr.no/place/Norway/Tr&#248;ndelag/Trondheim/Trondheim/">yr.no: Forecast for Trondheim</a></noscript>
</div>
{% endblock sidebar2 %}