{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom">Kart</legend>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7139.068551590206!2d10.522912154487576!3d63.427464432404065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x466d307e4f56a39b%3A0x5ee029e904ab8a27!2sRanheim%2C+7053+Trondheim!5e0!3m2!1sno!2sno!4v1542906878611"
        width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
{% endblock content %}


{% block sidebar2 %}
<div class="content-section yr-content">
    <script src="https://www.yr.no/place/Norway/Tr&#248;ndelag/Trondheim/Trondheim/external_box_small.js"></script><noscript><a href="https://www.yr.no/place/Norway/Tr&#248;ndelag/Trondheim/Trondheim/">yr.no: Forecast for Trondheim</a></noscript>
</div>
{% endblock sidebar2 %}
