{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <form method="post" action="" novalidate>
        {{ form.hidden_tag() }}
        <fieldset class="from-group">
            <legend class="border-bottom bm-4">{{ title }}</legend>

            <div class="form-group">
                {{ form.skipakke.label(class="form-control-label") }}
                {% if form.skipakke.errors %}
                {{ form.skipakke(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.skipakke.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.skipakke(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.rent_type.label(class="form-control-label") }}
                {% if form.rent_type.errors %}
                {{ form.rent_type(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.rent_type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.rent_type(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.rent_length.label(class="form-control-label") }}
                {% if form.rent_length.errors %}
                {{ form.rent_length(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.rent_length.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.rent_length(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.fromdate.label(class="form-control-label") }}
                {% if form.fromdate.errors %}
                {{ form.fromdate(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.fromdate.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.fromdate(class="form-control form-control-lg") }}
                {% endif %}
                <small class="form-text text-muted">2018-12-14 14:00 ### %Y-%m-%d %H:%M</small>
            </div>

        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-success") }}
        </div>

    </form>

</div>
{% endblock content %}